server:
    port: 0
    error:
        include-binding-errors: always
        include-message: always
spring:
    application:
        name: fountation-account-service
    main:
        web-application-type: reactive
    security:
        oauth2:
            resourceserver:
                jwt:
                    audiences:
                        - https://XXXXXXXXXXXXXXXXXXXXXXXXXXXX.us.auth0.com/api/v2/
                    issuer-uri: https://XXXXXXXXXXXXXXXXXXXXXXXXXXXX.us.auth0.com/
                    jwk-set-uri: https://XXXXXXXXXXXXXXXXXXXXXXXXXXXX.us.auth0.com/.well-known/jwks.json
    r2dbc:
        url: r2dbc:postgresql://XXXXXXXXXXXXXXXXXXXXXXXXXXXX:1232/XXXXXXXXXXXXXXXXXXXXXXXXXXXX
        username: XXXXXXXXXXXXXXXXXXXXXXXXXXXX
        password: XXXXXXXXXXXXXXXXXXXXXXXXXXXX
eureka:
    client:
        serviceUrl:
            defaultZone: ${EUREKA_URI:http://XXXXXXXXXXXXXXXXXXXXXXXXXXXX:1233/eureka}
    instance:
        preferIpAddress: false
logging:
    level:
        org:
            springframework:
                security:
                    oauth2: TRACE