spring:
    application:
        name: fountation-account-service
    r2dbc:
        url: r2dbc:postgresql://XXXXXXXXXX:XXXXXXXXXXXXX/XXXXXXXXXXXXXX
        username: XXXXXXXXX
        password: XXXXXXXXXXXXX
        pool:
            initial-size: 10
            max-size: 20
            max-create-connection-time: 5s # Waktu tunggu buat koneksi baru